@font-face {
    font-family: "Domitian";
    src: url("fonts/Domitian-Roman.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Domitian";
    src: url("fonts/Domitian-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Domitian";
    src: url("fonts/Domitian-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Domitian";
    src: url("fonts/Domitian-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "URW Classico";
    src: url("fonts/URWClassico-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "URW Classico";
    src: url("fonts/URWClassico-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "URW Classico";
    src: url("fonts/URWClassico-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "URW Classico";
    src: url("fonts/URWClassico-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Monaspace Xenon";
    src: url("fonts/MonaspaceXenon-Var.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    size-adjust: 85%;
}
