@font-face {
    font-family: "EB Garamond";
    src: url("fonts/EBGaramond-VariableFont_wght.ttf?v=ss08") format("truetype-variations");
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
    size-adjust: 110%;
}

@font-face {
    font-family: "EB Garamond";
    src: url("fonts/EBGaramond-Italic-VariableFont_wght.ttf?v=ss08") format("truetype-variations");
    font-weight: 400 800;
    font-style: italic;
    font-display: swap;
    size-adjust: 110%;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("fonts/AlegreyaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("fonts/AlegreyaSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("fonts/AlegreyaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("fonts/AlegreyaSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    size-adjust: 105%;
}

@font-face {
    font-family: "Monaspace Argon";
    src: url("fonts/MonaspaceArgonVar.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    size-adjust: 80%;
}
