@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ExtLtIta.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ExtraBlack.woff2") format("woff2");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unica";
    src: url("https://r2.overvale.com/NHUnica-ExtBlkIta.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: "Commit Mono";
    src: url("CommitMono VariableFont.woff2") format("woff2");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Commit Mono";
    src: url("CommitMono VariableFont.woff2") format("woff2");
    font-weight: 200 700;
    font-style: italic;
    font-variation-settings: "ital" 1;
    font-display: swap;
}
