@font-face {
    font-family: "Family";
    src: url("https://r2.overvale.com/family-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Family";
    src: url("https://r2.overvale.com/family-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Family";
    src: url("https://r2.overvale.com/family-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Family";
    src: url("https://r2.overvale.com/family-bold-italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
