/* NASA Web Design System color palette
   Source: https://nasa.github.io/nasawds-site/components/colors/ */

:root {
    /* Primary */
    --color-primary:          #105bd8;
    --color-primary-darker:   #0b3d91;
    --color-primary-darkest:  #061f4a;
    --color-base:             #212121;
    --color-gray-dark:        #323a45;
    --color-gray-light:       #aeb0b5;
    --color-white:            #ffffff;

    /* Secondary */
    --color-primary-alt:           #02bfe7;
    --color-primary-alt-darkest:   #046b99;
    --color-primary-alt-dark:      #00a6d2;
    --color-primary-alt-light:     #9bdaf1;
    --color-primary-alt-lightest:  #e1f3f8;
    --color-secondary:             #dd361c;
    --color-secondary-darkest:     #99231b;
    --color-secondary-dark:        #c62d1f;
    --color-secondary-light:       #e59892;
    --color-secondary-lightest:    #f9e0de;

    /* Background grays */
    --color-gray:              #5b616b;
    --color-gray-lighter:      #d6d7d9;
    --color-gray-lightest:     #f1f1f1;
    --color-gray-warm-dark:    #494440;
    --color-gray-warm-light:   #e4e2e0;
    --color-gray-cool-light:   #dce4ef;

    /* Tertiary */
    --color-gold:           #ff9d1e;
    --color-gold-light:     #f9aa43;
    --color-gold-lighter:   #ffc375;
    --color-gold-lightest:  #ffebd1;

    --color-green:           #2e8540;
    --color-green-light:     #4aa564;
    --color-green-lighter:   #94bfa2;
    --color-green-lightest:  #e7f4e4;

    --color-cool-blue:           #205493;
    --color-cool-blue-light:     #4773aa;
    --color-cool-blue-lighter:   #8ba6ca;
    --color-cool-blue-lightest:  #dce4ef;

    /* State */
    --color-focus:    #aeb0b5;
    --color-visited:  #4c2c92;
}
