/* reset from http://yuilibrary.com */
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
/* ------------------------ */

@import url('https://rsms.me/inter/inter.css');

html {
    font-size: 15px;
    background-color: rgb(250, 250, 250);
    padding: 0 0 30% 0;
}

body {
    max-width:600px;
    margin:2rem auto 10rem auto;
    padding: 0 2rem;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    font-weight:400;
    line-height: 1.6;
    color:rgb(25,25,25);
}

i, em { font-style: italic; }
b, strong { font-weight: 700; }

h1,h2,h3,h4,h5,h6{
    font-weight:700;
    color:rgb(50,50,50);
}
h1 {
    font-size: 2.25rem;
    line-height: 1;
    margin: 2.5rem 0;
}
h2 {
    font-size: 1.75rem;
    margin: 3rem 0 0 0;
}
h3 {
    font-size: 1rem;
    font-weight: 800;
    margin: 1.5rem 0 0 0;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

p, ul, ol, code.block {
    margin: 1.5rem 0 0 0;
}
p.date {
    color: rgb(170, 170, 170);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: .95rem;
}

h1 + p.date, h2 + p.date { margin-top: 0;}
body.note h1 { margin-bottom: 1.6rem; }

ol {
    list-style: decimal;
    margin-left: 1.5rem;
}
ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

hr {
    border: none;
    border-top: 1px solid rgb(200, 200, 200);
    margin: 3rem auto;
}

blockquote {
    margin: 0 1rem;
    padding-left: 1rem;
    border-left: 1px solid rgb(200,200,200);
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: .95rem;
    white-space: pre;
    background: rgb(240,240,240);
    border: 1px solid rgb(232,232,232);
    padding: 0 .15rem;
    border-radius: 4px;
}

code.block {
    display: block;
    padding: .5rem .75rem;
    overflow: scroll;
    font-size: .85rem;
    border-radius: 7px;
}

a {
    color:rgb(0,0,0);
    text-decoration: underline;
    -webkit-text-decoration-color: rgb(0, 122, 252);
    text-decoration-color: rgb(0, 122, 252);
}
a:hover, a:before, a:after {
    text-decoration: none;
    background: rgb(0,0,0);
    color: rgb(255,255,255);
}



/* -- Notes List -- */
body#index ul li { clear: both; }
body#index li span.date {
    color: rgb(170, 170, 170);
    padding-left: 1rem;
    float: right;
}
@media screen and (max-width: 500px) {
    ul li {clear: none;}
    li span.date {float: none;}
}
/* -- END Notes List -- */

@media (prefers-color-scheme: dark) {
    html { background: rgb(29,31,33); }
    body { color: rgb(245,245,245); }
    h1,h2,h3,h4,h5,h6{ color:rgb(238, 238, 238); }
    code { background: rgb(39,41,43); color: rgb(255,255,255); border-color: rgb(69,71,73);}
    a { color: rgb(255,255,255);
        -webkit-text-decoration-color: rgb(90, 200, 250);
        text-decoration-color: rgb(90, 200, 250);
    }
    a:hover, a:before, a:after {
	    background: rgb(238, 238, 238);
	    color: rgb(0,0,0);
	    text-decoration-thickness: 2px;
	}
	p.date {
		color: rgb(119, 119, 119);
	}
}

