@font-face {
  font-family: "Utopia";
  src: url("https://r2.overvale.com/Utopia-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Utopia";
  src: url("https://r2.overvale.com/Utopia-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Utopia";
  src: url("https://r2.overvale.com/Utopia-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Utopia";
  src: url("https://r2.overvale.com/Utopia-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --sans: ui-sans-serif, sans-serif;
  --serif: Utopia, ui-serif, Georgia, serif;
  --mono: ui-monospace, monospace;
  color-scheme: light;
  font: -apple-system-body;
  font-size: 17px;
  font-family: var(--serif);
  font-weight: 400;
  line-height: 1.5;
  color: hsl(0, 0%, 0%);
  background-color: rgb(250, 250, 250);
}
body { margin: 0; }
main {
    max-width: 37.5em;
    padding: 1em;
    margin: 0 auto 10em auto;
}
nav {
    font-family: var(--sans);
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
b { font-weight: 600; }
h1 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 6rem 0 3rem 0;
}
h2 {
    font-size: 1.5rem;
    margin: 3rem 0;
}
h3 {
    font-size: 1.1rem;
    font-style: italic;
    margin: 3rem 0 0 0;
}
hgroup { margin-bottom: 1.5em;}
hgroup p {
    font-style: italic;
    margin-top: -1em;
}
img { max-width: 100%; }
a {
    color: inherit;
    text-decoration-color: hsl(220, 100%, 75%);
}
a.en {
    text-decoration: none;
    font-family: var(--sans);
    font-size: 14px;
    font-weight: 450;
    padding: 0 .2em;
    border: 1px solid hsl(220, 100%, 75%);
    border-radius: 3px;
}
dt { margin-top: 1em; }
code {
    font-family: var(--mono);
    font-size: .9em;
}
pre {
    overflow-x: auto;
    padding: 7px 10px;
    background-color: hsl(40, 0%, 94%);
    border: 1px solid hsl(40, 0%, 84%);
    border-radius: 4px;
    font-size: .9em;
    line-height: 1.3;
}
blockquote {
    margin: 1em ;
    padding: 0 15px;
    border-left: 2px solid hsl(40, 0%, 80%);
}
blockquote.callout {
    border-left: none;
    font-style: italic;
    margin: 1em 3em;
}
time { display: block; }
hr {
    border: none;
    height: 1px;
    background-color: hsl(40, 0%, 75%);
    margin: 2em;
}
mark { background-color: hsl(60, 100%, 81%); }
figure {
    margin: 1em;
    border: 1px solid hsl(40, 0%, 60%);
    background-color: white;
}
figure.small {
    max-width: 60%;
    margin: 1em auto;
}
figcaption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}
.sans {
    font-family: var(--sans);
}