@font-face {
    font-family: "Utopia";
    src: url("https://r2.overvale.com/Utopia-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Utopia";
    src: url("https://r2.overvale.com/Utopia-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Utopia";
    src: url("https://r2.overvale.com/Utopia-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Utopia";
    src: url("https://r2.overvale.com/Utopia-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

:root {
    --sans: ui-sans-serif, sans-serif;
    --serif: Utopia, ui-serif, Georgia, serif;
    --mono: ui-monospace, monospace;
    
    /* Start by defining colors */
    --ov-white-pure: hsl(0, 0%, 100%);
    --ov-white: hsl(0, 0%, 98%);
    --ov-white-01: hsl(40, 0%, 94%);
    --ov-white-02: hsl(40, 0%, 84%);
    --ov-white-03: hsl(40, 0%, 74%);

    --ov-black-pure: hsl(0, 0%, 0%);
    --ov-black: hsl(0, 0%, 10%);
    --ov-black-01: hsl(0, 0%, 15%);
    --ov-black-02: hsl(0, 0%, 20%);
    --ov-black-03: hsl(0, 0%, 25%);
    
    --ov-blue: hsl(220, 100%, 75%);
    --ov-blue-dark: hsl(220, 100%, 65%);
    
    /* Then define uses, assuming light color sceme */
    --ov-background: var(--ov-white);
    --ov-text: var(--ov-black);
    --ov-link: var(--ov-blue);
    --ov-border: var(--ov-white-03);
    --ov-code-bg: var(--ov-white-01);
    --ov-figure-bg: var(--ov-white-pure);
    
    color-scheme: light dark;
    font: -apple-system-body;
    font-size: 17px;
    font-family: var(--serif);
    font-weight: 400;
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ov-background: var(--ov-black);
        --ov-text: var(--ov-white);
        --ov-link: var(--ov-blue-dark);

        --ov-border: var(--ov-black-03);
        --ov-code-bg: var(--ov-black-01);
        --ov-figure-bg: var(--ov-black-pure);
    }
}

body {
    margin: 0;
    color: var(--ov-text);
    background-color: var(--ov-background);
}
main {
    max-width: 37.5em;
    padding: 1em;
    margin: 0 auto 10em auto;
}
nav {
    font-family: var(--sans);
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
b { font-weight: 600; }
h1 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 6rem 0 3rem 0;
}
h2 {
    font-size: 1.5rem;
    margin: 3rem 0;
}
h3 {
    font-size: 1.1rem;
    font-style: italic;
    margin: 3rem 0 0 0;
}
hgroup { margin-bottom: 1.5em;}
hgroup p {
    font-style: italic;
    margin-top: -1em;
}
img { max-width: 100%; }
a {
    color: inherit;
    text-decoration-color: var(--ov-link);
}
a.en {
    text-decoration: none;
    font-family: var(--sans);
    font-size: 14px;
    font-weight: 450;
    padding: 0 .2em;
    border: 1px solid var(--ov-link);
    border-radius: 3px;
}
dt { margin-top: 1em; }
code {
    font-family: var(--mono);
    font-size: .9em;
}
pre {
    overflow-x: auto;
    padding: 7px 10px;
    background-color: var(--ov-code-bg);
    border: 1px solid var(--ov-border);
    border-radius: 4px;
    font-size: .9em;
    line-height: 1.3;
}
blockquote {
    margin: 1em ;
    padding: 0 15px;
    border-left: 1px solid var(--ov-border);
}
blockquote.callout {
    border-left: none;
    font-style: italic;
    margin: 1em 3em;
}
time { display: block; }
hr {
    border: none;
    height: 1px;
    background-color: var(--ov-border);
    margin: 2em;
}
figure {
    margin: 1em;
    border: 1px solid var(--ov-border);
    background-color: var(--ov-figure-bg);
}
figure.small {
    max-width: 60%;
    margin: 1em auto;
}
figcaption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}
.sans {
    font-family: var(--sans);
}