@import url('./colors.css');
:root {
    --sans: ui-sans-serif, sans-serif;
    --serif: ui-serif, Georgia, serif;
    --mono: ui-monospace, monospace;
    color-scheme: light dark;
    font: -apple-system-body;
    font-size: 16px;
    font-family: var(--sans);
    font-weight: 400;
    line-height: 1.5;
}

body {
    margin: 0;
    color: var(--color-tx);
    background-color: var(--color-bg);
}

main {
    max-width: 42em;
    padding: 1em;
    margin: 0 auto 10em auto;
}

nav {
    font-family: var(--sans);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

b {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 6rem 0 3rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 3rem 0;
}

h3 {
    font-family: var(--sans);
    font-size: 1.1rem;
    font-weight: bold;
    margin: 3rem 0 0 0;
}

hgroup {
    margin-bottom: 1.5em;
}

hgroup p {
    font-style: italic;
    margin-top: -1em;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration-color: var(--color-ln);
}

a:hover {
    background-color: var(--color-bg-2);
}

a.en {
    text-decoration: none;
    font-family: var(--sans);
    font-size: 14px;
    font-weight: 450;
    padding: 0 .2em;
    border: 1px solid var(--color-bl);
    border-radius: 3px;
}

dt {
    margin-top: 1em;
}

code {
    font-family: var(--mono);
    font-size: .9em;
}

pre {
    overflow-x: auto;
    padding: 7px 10px;
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-ui);
    border-radius: 4px;
    font-size: .9em;
    line-height: 1.3;
}

blockquote {
    margin: 1em;
    padding: 0 15px;
    border-left: 1px solid var(--color-ui);
}

blockquote.callout {
    border-left: none;
    font-style: italic;
    margin: 1em 3em;
}

time {
    display: block;
    color: var(--color-tx-2);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--color-ui);
    margin: 2em;
}

figure {
    margin: 1em;
    border: 1px solid var(--color-ui);
    background-color: var(--color-bg-2);
}

figure.small {
    max-width: 60%;
    margin: 1em auto;
}

figcaption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.sans {
    font-family: var(--sans);
}

h3#links {
    margin-bottom: 1.5em;
}

div.link {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-ui);
}

time a {
    text-decoration: none;
}

time a:hover {
    text-decoration: underline;
}

::selection {
    background-color: var(--color-ui-2);
    color: var(--color-tx);
}