@import url(reset.css);
html { background: #fff; }
body {
	max-width:700px;
	margin:2em auto 10em auto;
	padding: 0 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;	font-weight: 400;
	font-size: 12pt;
	line-height:1.4;
	color:#000;
}

h1,h2,h3,h4,h5,h6{
	margin: 2em 0 1em 0;
	font-weight:700;
}

h1 { font-size: 1.1em; color: rgb(255,59,48); }
h2 { font-size: 1.1em; }
h3 {
	font-size: 1em;
	font-weight: 600;
	font-style: italic;
}

dt,ul,ol,p,blockquote { margin: 1em 0; }

ol {
	list-style: decimal-leading-zero;
	margin-left: 2em;
}

ul {
	list-style-type: circle;
	margin-left: 1em;
}

blockquote { margin: 0 2em; }

a {
	color:#000;
	text-decoration: underline;
	-webkit-text-decoration-color: rgb(90,200,250);
	text-decoration-color: rgb(90,200,250);
}

a:hover, a:before, a:after { color: rgb(0,122,255); }

@media (prefers-color-scheme: dark) {
    html { background: rgb(29,31,33); }
    body { color: #ddd; }
    a {
        color: #ddd;
        -webkit-text-decoration-color: rgb(56,128,193);
        text-decoration-color: rgb(56,128,193);
    }
}
