:root {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: hsl(0, 0%, 20%);
  --grey: hsl(0, 0%, 70%);
  --grey-light: hsl(0, 0%, 85%);
  --greyBG: hsl(0, 0%, 96%);
  --blueBG: hsl(218, 42%, 96%);
  --blueLine: hsl(218, 42%, 86%);
  --greenBG: hsl(105, 40%, 96%);
  --greenLine: hsl(105, 40%, 86%);
}
main {
    max-width: 38em;
    padding: 1em;
    margin: 0 auto;
}
b, h1, h2, h3, h4, h5, h6 { font-weight: 600; }
h1 { line-height: 1.25; }
hgroup { margin-bottom: 1.5em;}
hgroup p {
    font-style: italic;
    margin-top: -1em;
}
img { max-width: 100%; }
a {
    color: inherit;
    text-decoration-color: hsl(220, 100%, 65%);
}
dt { margin-top: 1em; }
code { font-size: 13px; }
pre {
    overflow-x: auto;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1.4;
    background-color: var(--greenBG);
    border-left: 2px solid var(--greenLine);
}
blockquote {
    margin: 1em;
    padding: .1px 15px;
    background-color: var(--blueBG);
    border-left: 2px solid var(--blueLine);
}
hr {
    border: none;
    height: 1px;
    background-color: var(--grey);
    margin: 2em;
}
mark { background-color: hsl(60, 100%, 75%); }
