/* Reset
--------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}


/* Fonts & Variables
--------------------------------------------- */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/JetBrainsMono[wght].ttf') format("truetype-variations");
  font-weight: 100 800;
  font-feature-settings: 'cv06' on, 'cv14' on, 'zero' on;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/JetBrainsMono-Italic[wght].ttf') format("truetype-variations");
  font-weight: 100 800;
  font-feature-settings: 'cv06' on, 'cv14' on, 'zero' on;
  font-style: italic;
}

@font-face {
  font-family: 'Literata';
  src: url("/assets/Literata[opsz,wght].woff2") format('woff2');
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url("/assets/Literata-Italic[opsz,wght].woff2") format('woff2');
  font-weight: 200 900;
  font-style: italic;
}

:root {
  /* Fonts */
  --serif: 'Literata', ui-serif, Cambria, Georgia, serif;
  --sans: 'Inter var', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono: "JetBrains Mono", ui-monospace, Menlo, Consolas, monospace;

  /* Layout */
  --size: 16px;
  --line: 1.4rem;
  --main-width: 625px;

  /* Colors */
  --black:  hsl(0, 0%, 0%);
  --white:  hsl(0, 0%, 100%);
  --grey95: hsl(0, 0%, 95%);
  --grey90: hsl(0, 0%, 90%);
  --grey75: hsl(0, 0%, 75%);
  --grey50: hsl(0, 0%, 50%);
  --red:    hsl(20, 100%, 50%);

  --bg-color: hsl(0, 0%, 100%);
  --fg-color: var(--black);
  
  --accent-color: hsl(203, 100%, 65%);
  --accent-light: hsl(203, 100%, 85%);
  --accent-white: hsl(203, 100%, 96%);
  --accent-fg:    hsl(203, 100%, 100%);
}


/* Style
--------------------------------------------- */

html{
  background: var(--bg-color);

}

body {
  font: var(--size) / var(--line) var(--sans);
  font-weight:420;
  font-feature-settings: 'ss01' 1, 'cpsp' on;
  text-rendering: optimizeLegibility;
}

nav {
  font-family: var(--sans);
  margin-bottom: calc(var(--line) * 4) ;
}

main {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: var(--line) var(--line) 30% var(--line);
}


p, ul, ol, pre code, table, figure, blockquote { margin: var(--line) 0 0 0; }

.collapse-top {
  margin-top: 0;
}

b, strong { font-weight: 650; }

i, em {
  font-style: italic;
  font-weight: inherit;
}

h1, h2, h3 {
  font-family: var(--serif);
}

h1 {
  font-variation-settings: 'opsz' 60;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  margin: calc(var(--line) * 2) 0 ;
}

h2 {
  font-variation-settings: 'opsz' 50;
  font-size: 20px;
  font-weight: 700;
  margin-top: calc(var(--line) * 2);
}

h3 {
  font-size: 17px;
  font-weight: 600;
  margin-top: calc(var(--line) * 2);
}

time {
  display: block;
  font-family: var(--mono);
  font-size: 14px;
  color: var(--grey50);
  margin: calc(var(--line)/2) 0 var(--line) 0;
}

ol, ul { margin-left: var(--line); }

ol { list-style: decimal; }

hr {
  border: none;
  border-top: 1px solid var(--grey75);
  margin: 3rem auto;
  width: 50%;
}

blockquote {
  font-size: 15px;
  font-family: var(--serif); 
  padding-left: var(--line);
  font-weight: 420;
  font-variation-settings: 'opsz' 30;
  line-height: 1.5;
  position: relative; /* required for ::after element */
}

/* This creates a border on left side */
blockquote::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top:  0;
  border-radius: 1rem;
  width: .25rem;
  height: 100%;
  background-color: var(--grey90);
}

pre, code {
  font-family: var(--mono);
  font-weight: 350;
  font-size: 14px;
  white-space: pre-wrap;
}

code {
  padding: 0 .25rem;
  border-radius: 6px;
  background-color: var(--accent-white);
  border: 1px solid var(--accent-light);
}

pre code {
  display: block;
  overflow: auto;
  padding: 0.5rem;
  white-space: pre;
}

code.wrap {
  white-space: normal;
}

figure {
  border: 0.5pt solid var(--grey50);
  padding: .25rem;
}

figure figcaption {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: .25rem 0;
  }

img { max-width: 100%;}

table { width: 100%; }
table, th, td { border: 1px solid var(--grey75); }
th, td { padding: .25rem .5rem; }
th {
  background-color: var(--grey95);
  border-bottom: 1px solid var(--black);
  font-weight: 650;}

a {
  color:var(--black);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 1.25px;
}

a:hover {
  text-decoration: none;
  background: var(--accent-color);
  color: var(--accent-fg);
  border-radius: 3px;
}

::selection {
  background: var(--accent-light);
}

sup {
  vertical-align: super;
  line-height: 0;
  font-size: .75rem;
  font-weight: 600;
  color: var(--red);
}


/* Page Overrides
--------------------------------------------- */

nav a {
  font-weight: 520;
  padding: 0 .25em;
  margin-left: -.25em;
  text-decoration: none;
}

nav a:hover {
  background: var(--black);
  color: var(--white);
}

main#home {
  margin-top: calc(var(--line) * 2);
}

main#home p#welcome {
  font-family: var(--serif);
  font-size: 24px;
  font-weight: 350;
  font-variation-settings: 'opsz' 60;
  line-height: 1.433;
  margin-bottom: calc(var(--line) * 4);
}

main#links h3 {
  font-family: var(--sans)
}

main#links blockquote {
  font-family: var(--sans);
  font-weight: 420;
  font-size: 14px;
}

.serif {
  font-family: var(--serif);
  font-weight: 400;
  font-variation-settings: 'opsz' 30;
}

main.emacs, p.emacs {
  --accent-color: hsl(266, 100%, 75%);
  --accent-light: hsl(266, 100%, 94%);
  --accent-white: hsl(266, 100%, 98%);
}

main.note, p.notes {
  --accent-color: hsl(46, 100%, 56%);
  --accent-light: hsl(46, 100%, 85%);
  --accent-white: hsl(46, 100%, 95%);
  --accent-fg:    var(--black);
}

section#growth-letter {
  font-size: 17px;
  line-height: 1.6;
  font-weight: 450;
  font-variation-settings: 'opsz' 40;
  color: hsl(207, 100%, 25%);
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  body {
  font: 16px/23px var(--sans);
  font-weight:440;
  }
  main#home p#welcome { font-weight: 400; }
  blockquote { font-weight: 440; }
}
